@page
@model IndexModel
@{
    ViewData["Title"] = "授权验证的示例网站";
}

<div class="text-center">
    <h1 class="display-4">Welcome @ViewData["Title"]</h1>
    <p>RazorPage: 一个快速使用的单页web框架，比MVC简单很多</p>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    
</div>

